@media screen and (min-width: 650px) {
   
    main div{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        place-items: center;
    }

    header {
		display: flex;
		align-items: center;
        justify-content: space-between;
	}

    .navigation {
        flex-direction: row;
    }

    /* .navigation ul {
        justify-content: flex-end;
        flex-direction: row; 
    } */

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }


    #menu {
		display: none;
	}

}